@import '../../../theme/theme-variables';

.layout-container{
    display: flex;
    flex-direction: column;

    .toolbar {
        display: flex;
        height: 60px;
        /*background-color: $nav-background;*/
        background-image: linear-gradient(to right, #039BE5, #28a0da);
        z-index: 9;
        -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);

        &-item {
            align-items: center;
            display: flex;
        }

        .brand {
            flex: 2 1 auto;
            color: $primary-color;
            padding-left: 20px;
            
            a {
                font-size: 45px;
                font-family: $font-icon;
                margin-right: 10px;
                text-decoration: none;
                color: #fff;
            }
        }

        .nav {
            flex: 1 1 auto;
            text-align: right;
            justify-content: flex-end;
            font-family: $font-icon;
            font-size: 20px;
            color: $primary-color;
            
            a,
            a:visited,
            a:active,
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-decoration: none;
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;
                transition: all .4s ease;
                opacity: .6;
                height: 60px;
                width: 60px;
                z-index: 1;

                &::before {
                    content: "";
                    width: 1px;
                    height: 1px;
                    background-color: #fff;
                    border-radius: 50px;
                    position: absolute;
                    transition: all .4s ease;
                    z-index: -1;
                }

                &:last-child{
                    margin-right: 40px;
                }

                &:hover {
                    opacity: 1;
                    color: $nav-background;

                    &::before {
                        width: 40px;
                        height: 40px;
                        box-shadow: 1px 4px 40px 10px rgba(255,255,255,0.52);
                    }
                }
            }
        }
    }

    .content{
        background-color: $content-background;
        color: $content-color;
        height: calc(100vh - 60px);
    }
}