<div class="user-container">
  <!-- Start header of user page -->
  <div class="header">
    <div class="header-item">
        <i>m</i> Users
    </div>
    <div class="header-item">
      <app-user-search (termChange)="searchByTerm($event)"></app-user-search>
    </div>
  </div>
  <!-- End of the header -->


  <div class="body-wrapper">
    <div class="body-wrapper__summary text-right">{{userData.length}} {{userData.length > 1 ? 'records' : 'record' }} found</div>
    <app-user-table [dataset]="userData"></app-user-table>
  </div>

  <a routerLink="/user/new" routerLinkActive="active" class="add-action content-middle"><i>q</i></a>

</div>