@import '../../../theme/theme-variables';

.user-container{
    display: flex;
    flex-direction: column;
    color: #7b7b7b;

    .add-action{
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        bottom: 50px;
        right: 50px;
        font-size: 31px;
        color: #fff;
        background-color: $nav-background;
        text-decoration: none;

        i {
            font-family: $font-icon;
        }
    }

    .header {
        display: flex;
        flex-direction: row;    
        height: 120px;
        background-color: #e2e5e8;

        &-item {
            display: flex;
            align-items: center;
            flex:1 1 auto;
            

            &:first-child {
                padding-left: 20px;
                font-size: 24px;
            }

            i {
                margin-right: 5px;
            }

            .search {

                &-container {
                    background-color: #fff;
                    display: flex;
                    padding: 0 18px;
                    border-radius: 28px;
                    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                    width: 100%;
                    max-width: 480px;
                    font-size: 30px;
                    line-height: 45px;

                    input {
                        width: 100%;
                        border:0;
                        font-size: 50%;
                        font-weight: bold;
                        height: 48px;
                        line-height: 48px;
                        color: rgba(0,0,0,.87);

                        &::placeholder{
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .body-wrapper {
        display: flex;
        flex-direction: column;
        padding:20px;        

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: -1px 2px 3px 0px rgba(50, 50, 50, 0.23);

            &-summary{
                padding-bottom: 5px;
                color: $placeholder-color;
                font-size: 12px;
            }

            .header {
                max-height: 40px;
                line-height: 40px;
                
                > div {
                    flex: 1 1 auto;
                    text-transform: capitalize;
                }
            }

            .body {
                &-row {
                    height: 40px;
                    line-height: 40px;
                    display: flex;
                    flex-direction: row;

                    &:nth-child(odd){
                        background-color: #ececec;
                    }
                    
                    > div {
                        flex: 1 1 auto;
                    }

                    .favorite {
                        color: $highlight;
                        cursor: pointer;
                    }

                    .edit-action {
                        a {
                            text-decoration: none;
                        }
                    }

                    .trash-action {
                        background-color: $error-color;
                        border-radius: 5px;
                        border: 0;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        i {    
                            font-size: 18px;
                            color: #fff;

                        }
                        
                    }
                }
            }
        }

    }
}