
@font-face {
    font-family: $font-icon;
    src: url('/assets/fonts/norse-custom.woff2') format('woff2'),
         url('/assets/fonts/norse-custom.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}