$primary-color: #fff;
$placeholder-color:#a7a7a7;
$action-button: #1DBD9C;
$highlight: #ffee15;

$body-background:#213153;
$nav-background:#039BE5;


$content-background: #eff3f6;
$content-color: #686c71;

$font-default: 'Verdana';
$font-icon: 'norse-custom';