.text{
    &-center {
        text-align: center;
    }

    &-left{
        text-align: left;
    }

    &-right{
        text-align: right;
    }
}

.content-middle {
    justify-content: center;
    align-items: center;
    display: flex;
}