<form class="form" role="form" method="POST" [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <label for="username">E-mail</label>
    <input type="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autocomplete="off" required="">
    <div *ngIf="submitted && f.username.errors && f.username.errors.required" class="invalid-feedback invalid-feedback__username">You forgot the e-mail</div>


    <label for="password">Password</label>
    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="off" required="">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback invalid-feedback_password">
        <div *ngIf="f.password.errors.required">You forgot the password</div>
    </div>

    <div class="invalid-feedback_msg" *ngIf="message!=''">{{message}}</div>
    <button type="submit">Enter</button>

</form>