<form class="form" role="form" method="POST" [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <label for="email">E-mail</label>
    <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off" required="">
    
    <label for="password">Password</label>
    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="off" required="">

    <button type="submit">Enter</button>

</form>