.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    &-background {
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #B6BECE;
        opacity: .40;
        z-index: 1;
    }

    &-box {
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: #fff;
        margin: auto;
        padding: 35px;
        border-radius: 5px 5px 5px 5px;
        z-index: 4;

        &__title {
            line-height: 85px;
            text-align: center;
        }

        &__icon {
            text-align: center;

            i {
                font-family: "norse-custom";
                color: $error-color;
                padding: 10px;
                font-size: 40px;
            }
        }

        &__choose{
            display: flex;

            > div {
                flex: 1 1 auto;
                text-align: center;

                a {
                    padding: 10px 25px 10px 25px;
                    border-radius: 5px 5px 5px 5px;
                    font-size: 15px;
                    background-color: #ccc;
                    color: #fff;
                    cursor: pointer;

                    &.error {
                        background-color: $error-color;
                    }

                    &.success{
                        background-color: $action-button;
                    }
                }
            }
        }
    }
}