<div class="home-container">
    <h1>Welcome</h1>

    <div class="home-instructions">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at enim sed sapien volutpat tincidunt. Suspendisse nec elit sed enim iaculis finibus. Etiam vitae nisi pulvinar nisi ultricies eleifend. Sed sed eleifend nisi. Morbi tempor, dui non porttitor auctor, eros libero varius diam, eu dignissim leo dolor et massa. Vestibulum at purus quis mauris fringilla tempus eu a velit. Etiam euismod augue sed mollis aliquam. Nunc sollicitudin mauris at sem fermentum, a cursus enim semper. Proin ac massa mi.
    </div>
</div>