.home-container {
    padding: 20px;
    background-color: #fff;
    height: -webkit-fill-available;
    font-size: 16px;

    h1 {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 20px;
    }
}