@import './theme/theme-variables';
@import './theme/_base/_reset';
@import './theme/_base/_typography';
@import './theme/effects';
@import './theme/helpers/grid';
@import './theme/helpers/alignment';

/** Components */
@import './theme/components/modal';

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: $font-default;
    font-size: 18px;
    background-color: $body-background;
    text-rendering: optimizeLegibility ;
}

/** For icons */
i {
    font-family: $font-icon;
}

.btn {
    border: 0px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}