@import './theme/theme-variables';
@import './theme/reset';
@import './theme/typography';
@import './theme/effects';

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: $font-default;
    font-size: 18px;
    background-color: $body-background;
    text-rendering: optimizeLegibility ;
}

/** For icons */
i {
    font-family: $font-icon;
}